name: ci

on:
    
  workflow_dispatch:
    inputs:
      version:
        description: 'Openwrt version'
        required: true
        default: '22.10.4'
      config_url:
        description: 'Openwrt config url'
        required: false
        

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: false
          tags: openwrt:latest
          build-args: |
            version=${{ github.event.inputs.version }}
            config_url=${{ github.event.inputs.config_url }}
        
      - uses: shrink/actions-docker-extract@v3
        id: extract
        with:
          image: openwrt:latest
          path: /home/openwrt/openwrt/bin/.
          name: dist
          
      - name: Upload Dist
        uses: actions/upload-artifact@v4
        with:
          path: dist
